# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Static Collection
staticfiles/

# Python packaging
*.egg-info/
build/
dist/